.objectFit {
  width:1000px;
  height: 800px;
  border: solid black;
  box-shadow: 10px 15px 30px black;
  background: linear-gradient(blue, red);
}

.objectImage {
  width: 1000px;
  height: 800px; 
  object-fit:scale-down;
}
